@import "../../CSS/index.sass"

.navbar-container
    width: 100%
    height: 4.5rem
    background: $color-neutral-white
    box-shadow: 0px 5px 8px #2a2a2a31 !important
    z-index: 900 !important
    position: fixed
    .nav-center
        width: 90%
        height: 100%
        margin: 0 auto
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        color: $color-neutral-white

.nav-left
    font-family: $font-main
    font-weight: 600
    font-size: 1.3rem
    letter-spacing: 1.7px
    width: 6rem
    display: grid
    place-items: center
    img
        width: 100%
        height: 100%
        object-fit: cover

.nav-ham
    font-size: 1.7rem
    cursor: pointer
    color: $color-main-light
    transition: $transition-03
    &:hover
        color: $color-main-normal

.nav-right
    display: none
    align-items: center
    justify-content: space-around
    .nav-link
        margin: 0rem 0.75rem !important
        font-weight: 400
        font-size: 0.9rem
        opacity: 0.9
        letter-spacing: 0.9px
        cursor: pointer
        transition: $transition-02
        color: $color-neutral-black !important
        &:hover
            color: $color-main-light !important

// Queries
@media (min-width: 768px)
    .nav-ham
        display: none
    .nav-right
        display: flex
